*{
    margin: 0;
    padding: 0;
}
.navbar{
    border-bottom: 2px solid rgb(223, 219, 219);
}

.logo{
    display: inline-block;
    background-image: url(./assets/logo.png);
    background-repeat: no-repeat;
    width: inherit;
    height: 50px;
}